{% extends 'base.html' %}
{% load static %}

{%block content%}

    <section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url({% static 'dento/images/bg_1.jpg'%});" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a href="{% url 'home'%}">Home</a></span> <span>Appointment</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Appointment Status</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

	<center>
        <h1>Appointment Done!</h1>
        <h4>Review Details</h4>
        <p><strong>Name</strong> - {{name}}</p>
        <p><strong>Email</strong> - {{email}}</p>
        <p><strong>Phone</strong> - {{phone}}</p>
        <p><strong>Date</strong> - {{date}}</p>
        <p><strong>Time</strong> - {{time}}</p>
        <p><strong>Department</strong> - {{department}}</p>
  </center>

{% endblock %}